*{
    --dark-blue:#1f2937;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--dark-blue);
    /* height: 500px; */
    
    
}
header .header{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 40px;
}

header .header h2{
    color: #F9FAF8;
    font-size: 24px;

}
.header nav{
    display: flex;
    gap: 20px;
}
.header a,
.main p{
    color: #E5E7EB;
    font-size: 18px;
}
.header a{
    text-decoration: none;
    
}
.header a:hover,
.header a:focus{
    text-decoration: underline;
    text-shadow: 0 0 2px white;
}
.main{
    display: flex;
     
    justify-content: space-between ;
}


.main h1{
    color: #F9FAF8;
    font-size: 48px;
    
}
.main{
    padding: 40px;
}
.main .image{
    display: flex;
    justify-content: flex-end;
}
.main img {
    border-radius: 8px;
    height: 300px;
    width: 550px;
    
}
.main .text{
    align-content: center;
    padding-right: 30px;
}
.text button{
    font-weight: bold;
    color:#F9FAF8 ;
    border-radius: 8px;
    font-size:16px ;
    padding: 8px 25px;
    margin-top: 10px;
    border: none;
    background-color: #2882F6;
    cursor: pointer;
}
.animes{
    display: flex;
    gap: 20px;
    padding: 0 40px;
    justify-content: center;
    line-height: 1.5;
    
}


main h1{
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    margin: 24px 0;
}
.anime-carte{
    width: 300px;
}
.anime-carte img{
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    border: 2px solid #2882F6;
}
.anime-carte h2{
    margin: 10px 0;
    text-align: center;
    text-shadow: 0px 2px 2px #000;

    
}
.anime-carte p{
    text-align: center;
    font-size: 18px;
    
}
/* Styling block-level quotes */
blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 60px 40px;
    padding: 10px 20px;
    border-left: 5px solid #ccc;
    background-color: #E5E7EB;
  }
  
  /* Styling the citation in blockquote */
  blockquote cite {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
  }
  
  /* Styling inline quotes */

  
  /* Changing quote marks for blockquotes */
  blockquote p:before {
    content: open-quote;
    font-size: 36px;
    vertical-align: top;
  }
  
  blockquote p:after {
    content: close-quote;
    font-size: 36px;
    vertical-align: bottom;
  }
  .sign-up{
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    max-width: 800px;
    padding: 24px 60px;
    margin: 60px auto;
    color: #F9FAF8;
  }
  .sign-up .text{
    width: 70%;
  }
  .sign-up .sign-up-button{
    width: 30%;
  }
  .sign-up-button button{
   
    background: transparent;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    font-weight: bold;
  
    border-radius: 8px;
    font-size:16px ;
    padding: 8px 25px;
    cursor: pointer;
}
.sign-up-button button:hover{
    background-color:#F9FAF8 ;
    color: #3882f6;
}
.sign-up-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    height: 50px;
    
    color: #F9FAF8;
} 
