@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    --dark-blue:#1f2937;
    font-family: "Figtree";    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--dark-blue);
    padding: 40px 40px 60px 40px;
  
    
    
}
header .header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;    
}

header .header h2{
    color: #F9FAF8;
    font-size: 24px;

}

.header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}


.header a,
.main p{
    color: #E5E7EB;
    font-size: 18px;
}
.header a{
    text-decoration: none;
    
}
.header a:hover,
.header a:focus{
    text-decoration: underline;
    text-shadow: 0 0 3px  white;
}
.mobile-links li{
    display: none;
}
.links li{
    font-weight: 500;
    font-size: 18px;
}
.main{
    display: flex;
    justify-content: space-between ;
}


.main h1{
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 8px;
    
}
.main p{
    color: rgba(255, 255, 255, 0.726);
}

.main .image{
    display: flex;
    justify-content: flex-end;
}
.main img {
    border-radius: 8px;
    height: 300px;
    width: 550px;
    
}
.main .text{
    align-content: center;
    padding-right: 30px;
}
.text button{
    font-weight: bold;
    color:#F9FAF8 ;
    border-radius: 8px;
    font-size:18px ;
    
    margin-top: 16px;
    border: none;
    width: 120px;
    height: 40px;
    background-color: #2882F6;
    cursor: pointer;
}
.animes{
    display: flex;
    
    gap: 44px;
    justify-content: center;
    flex-wrap: wrap;
    
}


main h1{
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    margin: 24px 0;
}
.anime-carte{
    width: 320px;
    border: 1px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 0 black;
    border-radius: 20px;
}
.anime-carte img{
    width: 300px;
    height: 300px;
    border-radius: 12px;
}
.anime-carte h2{
    font-weight: 800;
    margin: 16px 0 4px 0;
    text-shadow: 1px 1px 1px black;
    font-size: 28px;

    
}
.anime-carte p{
    color: hsl(0, 0%, 40%);
    
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 40px 40px;
    padding: 12px 20px;
    border-left: 5px solid #ccc;
    background-color: #E5E7EB;
}

blockquote cite {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}
  

.sign-up{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    width: min(100%,800px);
    margin: 40px auto;
    padding: 24px;
   /*  height: 100px; */
    color: #F9FAF8;
    border-radius: 8px;
}
.sign-up-button button{

    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    font-weight: 500;

    border-radius: 8px;
    font-size:16px ;
    width: 100px;
    height: 40px;
    
    cursor: pointer;
}
.sign-up-button button:hover{
    background-color:#F9FAF8 ;
    color: #3882f6;
}
.sign-up p{
    color: rgb(230, 229, 229);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    height: 50px;
    
    color: #F9FAF8;
} 
@media (max-width: 768px) {
    .image img{
        display: none;
    }
    .animes{
        flex-wrap: wrap;
    }
    blockquote{
        font-size: 24px;
        
    }
    
}
@media (max-width:480px){
    .sign-up{
        border-radius: 0px;
        padding: 16px;
        flex-wrap: wrap;
    }
    .sign-up button{
        margin-top: 16px;
    }
    header{
        padding: 16px;
    }
    
    header .header h2{
        color: #F9FAF8;
        font-size: 28px;

    }
    .links li{
        display: none;
    }
    .mobile-links li{
        display: block;
    }
    .main .text{
        
        padding-right: 0;
    }
   
    
    
    

}